#tof1 {
	background-image: url("../images/photos/1.png");
}
#tof2 {
	background-image: url("../images/photos/2.png");
}
#tof3 {
	background-image: url("../images/photos/3.png");
}
#tof4 {
	background-image: url("../images/photos/4.png");
}
#tof5 {
	background-image: url("../images/photos/5.png");
}
#tof6 {
	background-image: url("../images/photos/6.png");
}
#tof7 {
	background-image: url("../images/photos/7.png");
}
#tof8 {
	background-image: url("../images/photos/8.png");
}
#tof9 {
	background-image: url("../images/photos/9.png");
}
#tof10 {
	background-image: url("../images/photos/10.png");
}
#tof11 {
	background-image: url("../images/photos/11.png");
}
#tof12 {
	background-image: url("../images/photos/12.png");
}
