#tof1 {
	background-image: url("../images/photos/kobe.jpg");
}
#tof2 {
	background-image: url("../images/photos/jordan.jpg");
}
#tof3 {
	background-image: url("../images/photos/gri.jpg");
}
#tof4 {
	background-image: url("../images/photos/you.jpg");
}
#tof5 {
	background-image: url("../images/photos/kobe.jpg");
}
#tof6 {
	background-image: url("../images/photos/wade.jpg");
}
#tof7 {
	background-image: url("../images/photos/7.png");
}
#tof8 {
	background-image: url("../images/photos/8.png");
}
#tof9 {
	background-image: url("../images/photos/9.png");
}
#tof10 {
	background-image: url("../images/photos/10.png");
}
#tof11 {
	background-image: url("../images/photos/11.png");
}
#tof12 {
	background-image: url("../images/photos/12.png");
}